<div>
<!-- <div>
    <ng-container *ngFor="let user of sortedUsers4x4">
        <p>{{user.email}}</p>
        <span>{{user.timerPlaygroundFirst}}</span>
    </ng-container>
</div> -->
<div>
    <ng-container *ngFor="let user of sortedUsers6x6">
        <p>{{user.email}}</p>
        <span>{{user.timerPlaygroundSecond}}</span>
    </ng-container>
</div>
<!-- <div>
    <ng-container *ngFor="let user of sortedUsers8x8">
        <p>{{user.email}}</p>
        <span>{{user.timerPlaygroundThird}}</span>
    </ng-container>
</div> -->
</div>