<main>
    <div class="content" *ngIf="cards; else loading" [style.width.px]="cellWidth * playgroundSize">
        <ng-container *ngFor="let card of cards">
            <div class="block-cards">

                <div class="card" (click)="addClass(card)">
                    <div class="flipper" [class.show]="card == activeCard" (click)="selectCard(card)">
                        <div class="front">
                            <img src="assets/images/logo.png" class="logo">
                        </div>
                        <div class="back">
                            <img class="card-img" src="{{card.img}}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</main>

<ng-template #loading>
    ...Loading
</ng-template>