<div class="container">
  <header class="header">
    <nb-layout center>
      <nb-layout-header class="header-top">
        <nb-menu-link-params></nb-menu-link-params>

        <div>
        <button mat-stroked-button class="choose-but" (click)="choosePlaygroundFirst()">4:4</button>
        <button mat-stroked-button class="choose-but" (click)="choosePlaygroundSecond()">6:6</button>
        <button mat-stroked-button class="choose-but" (click)="choosePlaygroundThird()">8:8</button>
        </div>
        <div>
          {{timer}}
          <button (click)="stopTimer()">Stop</button>
        </div>
        <div>
          <a routerLink="/login" class="but-logout">Logout</a>
        </div>
      </nb-layout-header>
    </nb-layout>
  </header>

  <main>
    <div class="content" *ngIf="cards; else loading" [ngClass]="{'content2': cards.length ===32,'content3': cards.length ===64}" #card>
      <ng-container *ngFor="let card of cards">
        <div class="card" (click)="addClass(card)">
          <div class="flipper" [class.show]="card == activeCard" (click)="selectCard(card)">
            <div class="front"></div>
            <div class="back">
              <img class="card-img" src="{{card.img}}" alt="img">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </main>

  <ng-template #loading>
    ...Loading
  </ng-template>
</div>
