<div class="container">
  <header class="header">
    <nb-layout center>
      <nb-layout-header class="header-top"></nb-layout-header>
    </nb-layout>
  </header>

  <main>
    <div class="content" *ngIf="(cards$ | async) as cards; else loading">
      <ng-container *ngFor="let card of cards">
        <div class="card">
          <div class="flipper">
            <div class="front">
              <!--            <img class="card-img" src="{{card.bg}}" alt="bg">-->
            </div>
            <div class="back" (click)="selectCard(card)">
              <img class="card-img" src="{{card.img}}" alt="img">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </main>

  <ng-template #loading>
    ...Loading
  </ng-template>
</div>